%div.row
  %div.col-xs-12
    %div.form-group.has-feedback{ :id => "bid_status_group"}
      %div.col-xs-12
        %label.col-xs-2.control-label{ :for => "Bid Status"}
          Status:
        %div.col-xs-2
          = select :bid, :bidstatus_id, Bidstatus.all.collect{|s| [s.status,s.id]}, :default => "1", :class => "form-control"
.actions
  = #f.submit 'Save'
