%p#notice= notice
%div.panel.panel-default
  %div.panel-heading
    ="BidDetails for #{@bid.property.address}, #{@bid.property.city}"
  %div.panel-body
    %table.table.table
      %thead
        %tr

= link_to 'Back', bids_path
