%div.row
  %div.col-xs-12
    %div.panel.panel-default
      %div.panel-heading
        - unless @bid.id?
          Create a New Bid
        - else
          Edit Bid Details
      %div.panel-body
        = render 'new_property_form' 
