%div.row
  %div.col-xs-9
    - unless @bid.id?
      %p Create a new bid:
    = render 'new_property_form' 
    %p <!-- --or-- -->
    %p <!-- Change an existing bid: -->
    = #render 'existing_property_form'