%h1 Listing properties

%table.table.table-striped
  %thead
    %tr
      %th
        ID
      %th
        Address
      %th
        City
      %th
      %th
      %th
      
  %tbody
    - @properties.each do |property|
      %tr
        %td=property.id
        %td=property.address
        %td=property.city
        %td
          = link_to 'Show', property
          %span.glyphicon.glyphicon-eye-open
        %td
          = link_to 'Edit', edit_property_path(property)
          %span.glyphicon.glyphicon-pencil
        %td
          = link_to 'Destroy', property, :method => :delete, :data => { :confirm => 'Are you sure?' }
          %span.glyphicon.glyphicon-remove

%br

= link_to 'New Property', new_property_path
%span.glyphicon.glyphicon-plus