// Place all the styles related to the pricing_proposal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#pp_document{
	/* this is not used */
	width: 668px;
	
	position:fixed;
    /* left: 33%; */
}
#pp_header{
	width: 662px;
	border: 0px solid red;
	height: 75px;
	background-color: #9af80e !important;
        -webkit-print-color-adjust: exact; 
}
#pp_logo{
	height: 75px;
	background-color: #9af80e;
}
.pp_left{
    float: left;
    border: 0px solid red;
    margin: 15px 00px 0px 00px;
}
.pp_center{
	font-size: 1.33em;
	float: left;
	border: 1px solid black;
	text-align: center;
	margin: 8px 0px 0px 15px;
	padding: 5px 5px 0px 5px;
	height: 69px;
	width: 360px;
}
#pp_title{
    font-size: 1.33em;
    padding: 0px 0px 5px 0px;
}
.pp_title_blurb{
	font-size: .75em;
}
#pp_asp_img{
	position: absolute;
	top: 3px;
	border: 0px solid black;
	margin: 0px 10px 0px 560px;
	z-index: 999;
}
#pp_asp{
	font-size: .85em;
	border: 1px solid black;
	text-align: center;
	width: 120px;
	margin: 2px 0px 0px -18px;
	padding: 2px 2px 2px 2px;
}
#pp_heading_line{
	margin: 84px 0px 0px 0px;
	width: 668px;
    border-bottom: 2px solid black;
}
#pp_container1{
	width: 658px;
	border: 0px solid red;
	margin: 7px 0px 7px 0px;

}
#pp_property_details{
	border: 2px solid black;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.3em;
	margin: 0px 0px 0px 10px;
	padding: 2px 2px 2px 2px;
	height: 134px;
	width: 360px;
	background-color: #b2ed4b !important;
    -webkit-print-color-adjust: exact; 
	float: left;
}
#pp_property_details ul{
  list-style: square;
}
#pp_blurb{
    border: 2px solid black;
    font-size: .95em;
	height: 133px;
	width: 275px;
	margin: 0px 0px 0px 380px;
	padding: 2px 5px 13px 5px;
	text-align: center;
}
#pp_container2{
	width: 625px;
	border: 1px solid black;
	margin: 0px 25px 0px 20px;
	padding: 0px 10px 0px 10px;
	font-size: .9em;
	h4{
		border: 0px solid red;
		margin: 0px 0px 0px 0px;
	}
	ul{
       font-size: 1em;
	}

}
#pp_staging_fee{
    padding: 5px 0px 0px 0px;
}
#pp_distribution_fee{
	h5{
		border: 0px solid red;
	}
}
#pp_rental_fees{

}
#pp_staging_total    ul {
     font-size: 1em;
     max-width: 56em;
     padding: 0;
     overflow-x: hidden;    
     list-style: none;	
	}	
#pp_staging_total    ul li:before {  	
    	float: left;
    	width: 0;
    	white-space: nowrap;
    	content:
 ". . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
	}
#pp_staging_total 	ul span:first-child {	
    	padding-right: .5em;
    	background: white !important;
        -webkit-print-color-adjust: exact; 
    }
#pp_staging_total 	ul span + span {
    	float: right;
    	padding-left: 0.5em;
    	background: white !important;
        -webkit-print-color-adjust: exact; 
    }


#pp_continued_rental{

}
#pp_rental_table_blurb{
	margin: 10px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	width: 660px;
}
#pp_rental_table{
	width: 668px;
}
ul.leaders {
    max-width: 52em;
    list-style: none;
    .no-style{
    	padding: 0;
    	overflow-x: hidden;    
    	list-style: none;	
    }
}
ul.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "}
ul.leaders span:first-child {
    padding-right: 0.33em;
    background: white !important;
    -webkit-print-color-adjust: exact; 
}
ul.leaders span + span {
    float: right;
    padding-left: 0.33em;
    background: white !important;
    -webkit-print-color-adjust: exact; 
}
#pp_terms{
	text-align: center;
}
#pp_thanks{
	width: 625px;
	border: 1px solid black;
	margin: 0px 25px 0px 20px;
	padding: 2px 10px 2px 10px;
	font-size: .9em;
	text-align: center;
}
#pp_rental_table_blurb{
	border: 0px solid red;
  margin: 0px 10px 0px 10px;
  padding: 15px 10px 5px 15px;
  width: 620px;
}
#pp_rental_table{
  margin: 0px 0px 10px 20px;
  border: 1px solid black;
  width: 625px;
  table{
    
    margin: 0px 25px 0px 0px;
	padding: 2px 10px 2px 2px;
	width: 605px;
	
  }
  #final_items_table{
  	padding: 0px 0px 10px 0px;
  	margin: 0px 0px 10px 10px;
  	background-color: white;
	tr{
	  	padding: 2px 2px 2px 2px;
  	}
  	thead{

  	}
  	th{

  	}
  	td{
  	  padding: 2px 2px 2px 2px;
  	}
  }

  .td_right{
  	text-align: right;
  }
  .items-table-footer{
    font-weight: bold;
  }  
  td{
  	border: .5px solid black;


  }
}
