<!DOCTYPE html>
%html
  %head
    %title 
      Agreement for Professional Home Staging® & Design Services
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags
  %body
    = yield
